.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(197, 197, 197, 0.56);
  z-index: 999;
}

.wrapper {
  width: 500px;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: 300;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 10px;
}

.input {
  height: 40px;
  width: 100%;
}


.textarea{
    width: 100%;
}

.button{
    width: 60%;
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
    align-self: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    
}